@import url("https://fonts.googleapis.com/css?family=Karla:100,400,700");
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed');

$contact-height: 15vh;
$msg-area-height: 100vh - $contact-height;
$orb-size: $msg-area-height * 0.8;
$effect-speed: 1s;
$move-speed: 2s;

$msg-width: 70vw;
$msg-height: 20vw;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  opacity: 0;
}

.bold {
  font-weight: bold;
}

a, a:active, a:visited {
  color: #0084FF;
}

p {
  font-family: Karla, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

// MESSAGE BOX

.message {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: $msg-width;
  height: $msg-height;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: $msg-height / 2;
  transform: translate(-50%, -50%);
  transition: width $effect-speed,
              opacity $effect-speed,
              left $move-speed,
              top $move-speed,
              transform $move-speed;

  left: 50vw;
  top: $msg-area-height / 2;

  &.secondary {
    transform: translate(-50%, -50%) scale(0.8);
    left: $msg-width * 0.8 / 2 + 2vw;
  }

  &.pic-only {
    width: 20vw;
  }

  .profile-pic {
    width: $msg-height - 4vw;
    margin: 2vw;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .message-details {
    width: 0;
    max-width: 46vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .user-name {
      font-family: 'Saira Condensed', Karla, sans-serif;
      line-height: 4.4vw;
      font-size: 4vw;
    }

    .user-message {
      line-height: 3.3vw;
      font-size: 3vw;
    }
  }
}

// BOTTOM CONTACT BAR

#contact {
  display: flex;
  flex-direction: row;
  height: $contact-height;
  overflow: hidden;

  p {
    font-size: 1.3rem;
    line-height: $contact-height;
    flex-grow: 1;
    text-align: right;
  }

  .image {
    height: 100%;
    padding: $contact-height / 10;

    img {
      height: 100%;
    }
  }
}

#main {
  position: relative;
  overflow: hidden;
  background-color: #0f142c;
  flex-grow: 1;
}

#orb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $orb-size;
  height: $orb-size;
  background-image: url('../images/marble.jpg');
  border-radius: 45vmin;
  background-size: cover;
  opacity: .4;
}

#noise-overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.15;
    min-width: 100vw;
    min-height: 100vh;
    transform: translate(-50%, -50%);
    animation: bg-noise-rotate 0.5s steps(4, end) 0s infinite;
  }
}

@keyframes bg-noise-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
