@import url("https://fonts.googleapis.com/css?family=Karla:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Saira+Condensed");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.hidden {
  opacity: 0; }

.bold {
  font-weight: bold; }

a, a:active, a:visited {
  color: #0084FF; }

p {
  font-family: Karla, sans-serif; }

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.message {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 20vw;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10vw;
  transform: translate(-50%, -50%);
  transition: width 1s, opacity 1s, left 2s, top 2s, transform 2s;
  left: 50vw;
  top: 42.5vh; }
  .message.secondary {
    transform: translate(-50%, -50%) scale(0.8);
    left: 30vw; }
  .message.pic-only {
    width: 20vw; }
  .message .profile-pic {
    width: 16vw;
    margin: 2vw;
    border-radius: 50%;
    overflow: hidden; }
    .message .profile-pic img {
      width: 100%;
      height: 100%; }
  .message .message-details {
    width: 0;
    max-width: 46vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .message .message-details .user-name {
      font-family: 'Saira Condensed', Karla, sans-serif;
      line-height: 4.4vw;
      font-size: 4vw; }
    .message .message-details .user-message {
      line-height: 3.3vw;
      font-size: 3vw; }

#contact {
  display: flex;
  flex-direction: row;
  height: 15vh;
  overflow: hidden; }
  #contact p {
    font-size: 1.3rem;
    line-height: 15vh;
    flex-grow: 1;
    text-align: right; }
  #contact .image {
    height: 100%;
    padding: 1.5vh; }
    #contact .image img {
      height: 100%; }

#main {
  position: relative;
  overflow: hidden;
  background-color: #0f142c;
  flex-grow: 1; }

#orb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68vh;
  height: 68vh;
  background-image: url("../images/marble.jpg");
  border-radius: 45vmin;
  background-size: cover;
  opacity: .4; }

#noise-overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden; }
  #noise-overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.15;
    min-width: 100vw;
    min-height: 100vh;
    transform: translate(-50%, -50%);
    animation: bg-noise-rotate 0.5s steps(4, end) 0s infinite; }

@keyframes bg-noise-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }
