@import url("https://fonts.googleapis.com/css?family=Karla:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Saira+Condensed");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.hidden {
  opacity: 0; }

.bold {
  font-weight: bold; }

a, a:active, a:visited {
  color: #0084FF; }

p {
  font-family: Karla, sans-serif; }

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.message {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 20vw;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10vw;
  transform: translate(-50%, -50%);
  transition: all 1s;
  left: 50vw;
  top: 42.5vh; }
  .message.second-position {
    transform: translate(-50%, -50%) scale(0.9);
    left: 33.5vw; }
    .message.second-position.third-position {
      transform: translate(-150%, -50%) scale(0.9); }
  .message.pic-only {
    width: 20vw; }
  .message .profile-pic {
    width: 16vw;
    margin: 2vw;
    border-radius: 50%;
    overflow: hidden; }
    .message .profile-pic img {
      width: 100%;
      height: 100%; }
  .message .message-details {
    width: 0;
    max-width: 46vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .message .message-details .user-name {
      font-family: 'Saira Condensed', Karla, sans-serif;
      line-height: 4.4vw;
      font-size: 4vw; }
    .message .message-details .user-message {
      line-height: 3.3vw;
      max-height: 13.2vw;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 0.2vw;
      box-sizing: content-box;
      font-size: 3vw;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical; }

#message-list {
  position: absolute;
  top: 0;
  right: 0;
  width: 70vw;
  transform: translate(-2vw, 2vw) scale(0.4);
  transform-origin: top right; }
  #message-list.hide .message {
    margin-left: 92.5vw; }
    #message-list.hide .message:nth-child(1) {
      transition-delay: 0s; }
    #message-list.hide .message:nth-child(2) {
      transition-delay: 0.1s; }
    #message-list.hide .message:nth-child(3) {
      transition-delay: 0.2s; }
    #message-list.hide .message:nth-child(4) {
      transition-delay: 0.3s; }
    #message-list.hide .message:nth-child(5) {
      transition-delay: 0.4s; }
    #message-list.hide .message:nth-child(6) {
      transition-delay: 0.5s; }
  #message-list .message {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    margin-bottom: 5vw;
    transition: margin-left 1s; }
    #message-list .message:nth-child(1) {
      transition-delay: 0.5s; }
    #message-list .message:nth-child(2) {
      transition-delay: 0.6s; }
    #message-list .message:nth-child(3) {
      transition-delay: 0.7s; }
    #message-list .message:nth-child(4) {
      transition-delay: 0.8s; }
    #message-list .message:nth-child(5) {
      transition-delay: 0.9s; }
    #message-list .message:nth-child(6) {
      transition-delay: 1s; }

#contact {
  display: flex;
  flex-direction: row;
  height: 15vh;
  overflow: hidden; }
  #contact .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #contact .text p {
      font-size: 1.5vw;
      line-height: 2vw;
      text-align: right; }
  #contact .image {
    height: 100%;
    padding: 1.5vh; }
    #contact .image img {
      height: 100%; }

#main {
  position: relative;
  overflow: hidden;
  background-color: #0f142c;
  flex-grow: 1; }

#orb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68vh;
  height: 68vh;
  background-image: url("../images/marble.jpg");
  border-radius: 45vmin;
  background-size: cover;
  opacity: .4; }

#noise-overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden; }
  #noise-overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.15;
    min-width: 100vw;
    min-height: 100vh;
    transform: translate(-50%, -50%);
    animation: bg-noise-rotate 0.5s steps(4, end) 0s infinite; }

@keyframes bg-noise-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }
